[% base = "$home/rb/node" %]
[ [%+ jump('FORM', node.form_url) +%]
| [%+ jump('Node', "$base/update.tt", id=id) +%]
| [% jump('Translate', "$home/rb/translation/node.tt", id=id ) +%]
| [% jump('Add arcs', "$base/arc/add.tt", id=id ) +%]
| [% jump('Merge', "$base/merge.tt", id=id) +%]
| [% jump('Vacuum', me, run='vacuum', id=id) +%]
| [% jump('Remove', "$base/remove.tt", id=id) +%]
]
