<p><pre>name_clean hotel
private_ne 1
arclim ['not_old']
order_by name.loc
</pre>

<p>More info:
<pre style="white-space: -moz-pre-wrap !important">
rev
[ pred ]
[ [% rb.Arc_Lim.names.join(' | ') %] ]
clean
[ eq | like | begins | gt | lt | ne | exist ]
[ prio ]
</pre>
