[% META title='Testar'
  level=20
%]
[%
id = q.param('id');
IF id;
  n = get(id);
ELSE;
#  n = get('new');
  n = get(19800715);
  id = n.id;
END;
hidden('id',id);
%]

<h2>Modifierar nod [% n.sysdesig %]</h2>

<p>[% n.wu('note', {live_update=1}) %]

<p>[% step %]
