[% META title='Testar'
  level=20
%]
[%
#n = get(2651938);
#d = n.rev_exclusive_domain_holder;
%]

<h1>[%# n.as_html %]</h1>

<p>[% jump('SMS',me,run='sms_send') %]</p>

<pre>
[%
#  d.as_html;
#  n.classified.is_newsletter;
#  n.obj.classified.is_newsletter;

%]
</pre>
