[% META title="Sök nod"
   next_template = '~$home/rb/node/list.tt'
   next_action = 'node_search'
   focus = 'query'
   level = 20
%]

[% CALL searchobj.first_rb_part.query_setup %]

[% textarea('query', undef, tag_attr={rows=10,class='wide'}) %]

<p>[% submit('Sök') %]
Resultat per sida [% input('limit',50, tag_attr={size=5}) %]

[% PROCESS rb_search_example.tt %]
