
[%+ +%]
<script type="text/javascript" src="[% home %]/rb/js/prototype.js"></script>
<script type="text/javascript" src="[% home %]/rb/js/scriptaculous.js"></script>
<script type="text/javascript" src="[% home %]/rb/js/rb.js_tt"></script>
[%# INCLUDE js_extra_2.tt   # for even more... %]
