[% BLOCK updated %]
   [%## Displays who and when arc was updated %]
   [%## var arc must be defined %]
   <span class="small_note">
   [%- IF arc.updated_by %]
      by [% jump(arc.updated_by.desig, arc.updated_by.form_url) %]
   [% END %]
   [%+ arc.updated IF arc.updated %]</span>
[% END %]
